<p id="notice"><%= notice %></p>

<p>
  <strong>Years:</strong>
  <%= @calculator.year %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @calculator.principle %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @calculator.rate %>
</p>

<p>
  <strong>Total:</strong>
  <%= @calculator.total %>
</p>

<%= link_to 'Back', calculators_path %>
